.nameframe {
  z-index: 5;
  position:relative;
  top:20px;
}

.chevronframe {
  z-index: 1;
  position: relative;
  top: -340px;
}

#container {
  position:relative;
}

.st0 {
  fill-opacity: 0;
  fill:none;
  stroke:#000000;
}

.st3 {
  fill-opacity: 0;
  fill:none;
  stroke:#E0FF00;
  stroke-width:10;
  stroke-miterlimit:10;
}